body {
    background: blue;
    font-family: arial;
    font-size: 14px;
    color: grey;
}

#container {
    text-align: center;
    width: 800px;
    margin: auto;
    overflow: auto;
    background: white;
    padding: 15px;
}